sudo: required

language: node_js
node_js: '10'

cache: yarn

services:
  - docker

env:
  global:
    - CODECLIMATE_REPO_TOKEN=06f5b199c1d9bb6f814adf03807ad1df9b6184d4a268daba4672f4f95418ac7e

notifications:
  email: false
  slack:
    secure: Mxaom+mwnpohiP1oFI51ciBZD4eTdL6+6ORYuq9QmXH/SBfhqRYqukrS8ykC+KkgLE9m3IRh1lPNdTA0i0ArKaVzDxNRjByXG3PmFvrLC9BTrRseqkMFqGHhJp4V9X1AbhkEG9CtmuSm1Q64EiNxs+YV/ROWWo7r6TUp89grfx0nou47cb6Q80/p+zTXoLQDbFutrZRKXg7VNtE5XNuY8zUQPsDBruni0ixSO4ypDL6vunaGHilGfwvs61ZYBCJ8NaANXkagHgFlrZyIjYn2cGzcJ6PRfBrB7knWCmaIGbJaSBXp4D4zhs65zy1WUAMAMkYlx6CfG0eI6U5j2OmiiTMDlnOKyTgfNmX6ighdfDE3G9r2DwzhBYGIEozrNVDlSNR7sh+gRomY4R36kTGkxKE5W450QGWgHiQDoypafs98eGZ6QhGsp0GCkaFsdvlWPhTv854A1EXlOKXNLNu5kUaTD8Cf/TtjAvWTVLB40yXm5iSJcCFKKIduZ/4u7Z/fPCGNv7TexVueQUBUeZF468bux+3JKIgjFzIpAbPL458jX4KiumMn+qAPKrDYztqkLUTWrgC3pTw30htXhEKyZJKWh2YBnBtHBs3svuA3xMRtfGIQ1R7XAAev7Z63En/ePZQuZfopalVvEpIpv8v0xPXuJDqY9aBTmtyOR3UoKYg=

before_install:
  - yarn global add greenkeeper-lockfile@1

before_script: greenkeeper-lockfile-update
script: yarn test --coverage
after_script:
  - greenkeeper-lockfile-upload
  - yarn run test:reporter

deploy:
  provider: releases
  api_key:
    secure: T9OeyzMIoCkqBSB7nzmuiFbEwrw9W6myTTDZdowTy3W+T3wCcpHoqKzB5GfCH8YY+FS1D/Q5W8SJ0lbdTf9GTnIhidYTM2f/x5SHFTOzALEX3IXWORXSpo8QlflHLXQpqT1oIyYkIf9ONHclpXHai4l7FT1IMcaF9ibx4StqtHgEp6Ewx5o+CkIOsLk60a3auo2JMFIjNufSIXKZscxRrYKxfeEDEVDsjhZac7jVwps/sDVrOOhtrgAH4UWrrX3S6ODhkgGHH7Ck8k+6DGqVK4c62JyfSUgHEnGvQWQr635J/dI8jeDD5eVoyjy7EHbs4Qeefln8EJ3X9e6V/hHLDDil3euRUnLMYAgauvj1ql+hh9+Sl4vRIu6wOCkH0yq+L4d3KNTJRY9hFGRowoeSINnM8dIOIzRsykdILYyUXG4FQbgaO1QeuGkuvWAeDFmxmEnNbDXoCu+2hzItuFqIFUpcP7jmx0l2yvuNge7qnknGSTPK+Rk5VhJsHP0c2oUAe2KQsFZFSmhx69E1ibyFGt0j8eOMKv8Xj7ewxAJGYam5TZAJccfA56TjV879cPdUcNms3nAzrRLwQXoUo015WtDN4BcL8XgewLSA889o3zNWYN/wZzKqXadSFN7YuFVWSbGM5TTZXrr8gDHr1IkKvAyApSQskpE9mHeRAap2KAs=
  on:
    branch: /^release-.*$/

after_deploy:
  - "curl -H 'Content-Type: application/json' --data '{\'build\': true}' -X POST $DOCKER_HUB_URL;"
