sudo: required

language: node_js
node_js: '10'

cache: yarn

services:
  - docker

env:
  global:
    - CC_TEST_REPORTER_ID=06f5b199c1d9bb6f814adf03807ad1df9b6184d4a268daba4672f4f95418ac7e
    - COVERAGE_FILE=coverage/lcov.info

notifications:
  email: false
  slack:
    secure: EwBaiE5gJA1mJXwkk2RTv9Sr2Qa6sMJqC9cKlcHSKW/LYahB9W0xIHmqVbJvzhqOxLAungrXJRJcBpYkAo9aZantOAolTTZERaknzIQhLpDHgqsB+LY0pf12Vz3HrA1K95v/V/derTUYe7YfhGDyXO7AQU/pSz1qyA7VZqPDowPiFQqhkELbVBzgTcI+l1+1+U6icwOvH6616Zxa/vPTxhhldtwYnpgWMGfVORn0lsg154gBEBW/R6ofRGx6YfLyg7zsHy5Rx1Hr66h56DoLovOLiKswFhmiXfh2SlXEPl6SeVv3INFOGgr44TeYPDYtehuUgOG2qk1y/psZ/ztIot8BTVCKqJiy5a3LzobmSnScRbwwKHhJw8I1azEBdPeFxA88jq41fVcYNT3g3eU4PGuHXNTOwod8nKGpZ8/1DfFS13ACknYzc2XNBriB3NREtu120Xo73VrOJ+VCkSY56TIdzv2ggLsDsz6QsmVFIDYGain7x22RGe9eqzL2DvLYBxDGRH/ZVLJEKaNKlrA1Okw1Ggs1j8Aw2hbMh9/YXaLOIG8SBA0l7RNN1L7IK304S7qPtcDfh5Tkm0tdbqe28LCUr4zQVK8HcTznM3jiaskMhUjyq3cf19kyPLL/n1ncmizbTMZIByJdEyDEpBpdHZ5ZoJQLuqVonO/R7dH+3vs=

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script: yarn run test:all
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

deploy:
  provider: releases
  api_key:
    secure: T9OeyzMIoCkqBSB7nzmuiFbEwrw9W6myTTDZdowTy3W+T3wCcpHoqKzB5GfCH8YY+FS1D/Q5W8SJ0lbdTf9GTnIhidYTM2f/x5SHFTOzALEX3IXWORXSpo8QlflHLXQpqT1oIyYkIf9ONHclpXHai4l7FT1IMcaF9ibx4StqtHgEp6Ewx5o+CkIOsLk60a3auo2JMFIjNufSIXKZscxRrYKxfeEDEVDsjhZac7jVwps/sDVrOOhtrgAH4UWrrX3S6ODhkgGHH7Ck8k+6DGqVK4c62JyfSUgHEnGvQWQr635J/dI8jeDD5eVoyjy7EHbs4Qeefln8EJ3X9e6V/hHLDDil3euRUnLMYAgauvj1ql+hh9+Sl4vRIu6wOCkH0yq+L4d3KNTJRY9hFGRowoeSINnM8dIOIzRsykdILYyUXG4FQbgaO1QeuGkuvWAeDFmxmEnNbDXoCu+2hzItuFqIFUpcP7jmx0l2yvuNge7qnknGSTPK+Rk5VhJsHP0c2oUAe2KQsFZFSmhx69E1ibyFGt0j8eOMKv8Xj7ewxAJGYam5TZAJccfA56TjV879cPdUcNms3nAzrRLwQXoUo015WtDN4BcL8XgewLSA889o3zNWYN/wZzKqXadSFN7YuFVWSbGM5TTZXrr8gDHr1IkKvAyApSQskpE9mHeRAap2KAs=
  on:
    branch: /^release-.*$/

after_deploy:
  - 'curl -H ''Content-Type: application/json'' --data ''{"build": true}'' -X POST $DOCKER_HUB_URL;'
