@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@mixin no-gutter-xs {
  @include media-breakpoint-down(xs) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }
}
