@import 'override';
@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
html {
  font-size: 85%;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: rgba($themeAttention, .7);
  color: $white;
}

// buggy
.dropdown-item {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.page-enter-active,
.page-leave-active {
  transition: all .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateY(100px);
}

.emojione {
  max-width: 1.5rem;
  vertical-align: -.25rem;
}
